<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styles.css" > 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <section class="logo-busqueda">
            <img src="/img/logo-mercado-liebre.svg" alt="logo" class="logo">
                <form class="busqueda">
                    <input type="text" class="barra-busqueda" placeholder="Buscar productos, marcas y más">
                    <i class="fas fa-search"></i> 
                </form>
            <p class="texto-cuotas"> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de crédito</p>
        </section>
        <article class="paginas">
            <nav>
                <ul class="accesos-rapidos">
                    <li> <a href="#"> Ofertas </a></li>
                    <li><a href="#"> Tiendas Oficiales </a></li>
                    <li><a href="#"> Vender </a></li>
                    <li><a href="#"> Ayuda </a></li>
                </ul>
            </nav>
            <nav>
                <ul class="cuenta">
                    <li><a href="register"> Creá tu cuenta <i class="far fa-address-card"></i> </a></li>
                    <li><a href="login"> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#"> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    
                </ul>
            </nav>
        </article>
        <section class="menu-hamburguesa">
            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>
        </section>
    </header>

    
    <main>
        <img  src = "/img/img-home-banner.jpg" alt="banner de ofertas" class="banner-img">
        <section class="sec-main">
            <h2 class="Titulares">Basado en tu última visita</h2>
            <div class="caja-productos">
                <article>
                    <div class="cont-img">
                        <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="article-image">
                    </div>
                    <div class="desc-general">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precios-descuentos">
                            <p class="precios" > $6.770 </p>
                            <P class="descuentos"> 40% off</P>
                        </div>
                        <p class="descripciones"> Cafetera Moulinex </p>
                    </div>
                </article>
                <article>
                    <div class="cont-img">
                        <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook" class="article-image">
                    </div>
                    <div class="desc-general">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                            <div class="precios-descuentos">
                                <p class="precios" > $230.000 </p>
                                <P class="descuentos"> 20% off</P>
                            </div>
                            <p class="descripciones"> MacBook Pro 2019 </p>
                    </div>
                </article>
        
                <article>
                    <div class="cont-img">
                        <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung" class="article-image">
                    </div>
                    <div class="desc-general">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precios-descuentos">
                            <p class="precios" > $70.500 </p>
                            <P class="descuentos"> 10% off</P>
                        </div>
                        <p class="descripciones"> Samsung Galaxy S10 </p>
                    </div>
                </article>
        
                <article>
                    <div class="cont-img">
                        <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv" class="article-image">
                    </div>
                    <div class="desc-general">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precios-descuentos">
                            <p class="precios" > $23.200 </p>
                            <P class="descuentos"> 5% off</P>
                        </div>
                        <p class="descripciones"> SmartTv Samsung 43" </p>
                    </div>
                </article>

            </section>
            <section class="sec-main">
                <h2 class="Titulares">Ofertas</h2>
                <div class="caja-productos">
                    <article>
                        <div class="cont-img">
                            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="article-image">
                        </div>  
                        <div class="desc-general">
                            <div class="truck">
                                <i class="fas fa-truck"></i>
                            </div>
                            <div class="precios-descuentos">
                                <p class="precios" > $6.770 </p>
                                <P class="descuentos"> 40% off</P>
                            </div>
                            <p class="descripciones"> Cafetera Moulinex </p>
                        </div>
                    </article>
                    
                    <article>
                        <div class="cont-img">
                            <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook" class="article-image">
                        </div>
                        <div class="desc-general">
                            <div class="truck">
                                <i class="fas fa-truck"></i>
                            </div>
                            <div class="precios-descuentos">
                                <p class="precios" > $230.000 </p>
                                <P class="descuentos"> 20% off</P>
                            </div>
                            <p class="descripciones"> MacBook Pro 2019 </p>
                        </div>
                    </article>

                    <article>
                        <div class="cont-img">
                            <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung" class="article-image">
                        </div>
                        <div class="desc-general">
                            <div class="truck">
                                <i class="fas fa-truck"></i>
                            </div>
                            <div class="precios-descuentos">
                                <p class="precios" > $70.500 </p>
                                <P class="descuentos"> 10% off</P>
                            </div>
                            <p class="descripciones"> Samsung Galaxy S10 </p>
                        <div>
                    </article>

                    <article>
                        <div class="cont-img">
                            <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv" class="article-image">
                        </div>
                        <div class="desc-general">
                            <div class="truck">
                                <i class="fas fa-truck"></i>
                            </div>
                            <div class="precios-descuentos">
                                <p class="precios" > $23.200 </p>
                                <P class="descuentos"> 5% off</P>
                            </div>
                            <p class="descripciones"> SmartTv Samsung 43" </p>
                        </div>
                    </article>
            </div>
        </section>
    </main>


    <footer>
        <section>
            <article>
                <div class="simbolos">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h3 class="footer">Pagá con tarjeta o en efectivo</h3>
                <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <div class="simbolos">
                    <i class="fas fa-gift"></i>
                </div>
                <h3 class="footer">Envío gratis desde $ 2.500</h3>
                <p class="texto-footer">Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <div class="simbolos">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h3 class="footer">Seguridad, de principio a fin</h3>
                <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
            </article>
        </section>
        <div>
            <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
    </footer>
</body>
</html>